*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

body {
    display: flex;
    justify-content: center; /* Horizontally centers content */
    align-items: center; /* Vertically centers content */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}

#main-container {
    max-width: 375px;
    display: flex;
    flex-direction: column;
    /* Additional styling if needed */
}

.btn{
    background-color: white;
    border: none;
    text-decoration: underline;
    color: blue;
}

.btn:hover{
    color: #0866C4;
    cursor: pointer;
}


/* Title */
#title{
    text-align: center;
    font-size: 1.75rem;
    font-style: normal;
}

#subtitle{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 100;
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, 0.65);
}

#subtitle-decoration{
    font-style: italic;
    font-size: 1.25rem;
}

#link-btn{
    font-size: 1.5rem;
    color: blue;
}


/* Checkbox container */
#checkbox-container{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.checkbox-title{
    font-weight: 100;
    margin-right: 5px;
    margin-left: auto;
}

.checkbox{
    margin-right: auto;
}


/* Upload container */
#upload-container{
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

#upload-container-url{
    display: inline;
}

#upload-container-file{
    display: none;
}

#url-input{
    width: 365px;
    margin-bottom: 0.25rem;
}

#test-url{
    margin-left: 3px;
    margin-right: 3px;
}


/* Shortener container */
#shortener-container{
    margin-bottom: 2rem;
    display: inline;
    justify-content: center;
}

#shortener-input{
    width: 365px;
    margin-bottom: 0.25rem;
    margin-left: 3px;
    margin-right: 3px;
}

#shortener-text-1{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0.5rem;
}

#shortener-text-2{
    margin-left: 5px;
    margin-right: 5px;
}

/* Password container */
#password-container{
    display: flex;
    margin-bottom: 2rem;
}

#password-input{
    width: 230px;
    margin-right: 1rem;
    margin-bottom: 0.25rem;
    margin-left: 3px;
}

#show-password-checkbox{
    margin-top: 4px;
}

#show-password-text{
    margin-right: 3px;
}

/* Submit container */
#submit-container{
    display: flex;
    margin-bottom: 1rem;
}

#submit-btn{
    margin-right: 3px;
    margin-left: auto;
}


/* Footer container */
#footer-container{
    border-top: 1px solid black;
    padding-top: 1rem;
    color: rgba(0, 0, 0, 0.65);
}

.footer-text{
    margin-bottom: 1rem;
    margin-left: 5px;
    margin-right: 5px;
}
#footer-text-1{
    display: none;
}

#footer-text-2{
    margin-bottom: 0.25rem;
}

#footer-text-3{
    margin-bottom: 1.5rem;
}

.footer-btn{
    color: rgba(0, 0, 255, 0.4);
}